.form
{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-areas: ". inputarea .";
    

}

.inputarea
{
  grid-area: inputarea;
  padding: 1rem;
  
}

.inputitem
{
    padding: 0.5rem;
    font-size: 1.5em;

}
.photolists
{
    font-size: small;
    color: red;
    display: flex;
}

.inputitem label
{
   margin-bottom: 0.5rem;
   display: block;
   font-weight: bold;
   
}


.actions button
{
    padding: 0.5rem;
    margin-left: 0.5rem;
    
}
.actions button:hover
{
  background-color:  rgba(141, 8, 8, 0.418);
  cursor: pointer;
}

input[type="file"]  {
    color: transparent;
}

